name: Publish to PyPI

on:
  release:
    types: [published]
    tags:
      - "v*"

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          version: "head"

      - name: Install project dependencies
        run: pdm install

      - name: Build package
        run: pdm build

      - name: Check version consistency
        run: |
          TAG_VERSION="${GITHUB_REF#refs/tags/v}"
          PKG_VERSION=$(pdm show --version)
          if [ "$TAG_VERSION" != "$PKG_VERSION" ]; then
            echo "Tag version ($TAG_VERSION) does not match package version ($PKG_VERSION)."
            exit 1
          fi

      - name: Publish package distributions to PyPI
        run: pdm publish
# git tag -a v0.1.4 -m "V0.1.4"
# git push origin v0.1.4

# to publish
# 1. pump version in pyproject.toml
# 2. run publish.sh
